.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 400ms;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo_confetti {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}
.logo_confetti:hover {
  filter: drop-shadow(0 0 2em #da0909);
}
/*Declaramos la direcion de giro a derecha*/
@keyframes logo-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Declaramos la direcion de giro a izquierda*/
@keyframes logo-spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {/*El primer elemento llamado por <a> con la propiedad .logo lo hacemos girar*/
    animation: logo-spin1 infinite 20s linear;/*Le decimo que tarde en hacer la vuelta completa 20segundos*/
  }
  a:nth-of-type(2) .logo {
    animation: logo-spin2 infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.footer_home{
  margin-top: 60px;
}
.botones{
  margin-left: 5px;
  margin-right: 5px;
}
.botones:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.click_text{
  cursor: pointer;
}
.home_big_button {
  margin: 10px;
  font-size: 20pt;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  padding: 0.4em 1.2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.5s;
  min-width: 140px;
  width: 260px;
  height: 170px;
  margin-bottom: 40px;
}
.home_big_button:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa);
  scale:1.01;
}
html.light .home_big_button {
  background-color: #f9f9f9;
  color: #213547;
  border: 1px solid rgba(27, 25, 25, 0.349);
}
footer {
  margin-top: auto;
  margin-bottom: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}
.presentation_impar {
	font-size: 45px;
	text-align: left;
	margin-left: 90px;
}
.presentation_par {
	font-size: 45px;
	text-align: right;
	margin-right: 90px;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.shake-bottom {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}


.olivetti {
	font-family: monospace;
	color: white;
	width: 21ch;
	animation: olivetti 5s steps(20), pampalluga 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid white;
}
html.light .olivetti {
  color: #213547;
  border-right: 2px solid rgba(27, 25, 25, 0.349);
}
@keyframes olivetti {
	from {
		width: 0;
	}
}

@keyframes pampalluga {
	50% {
		border-color: transparent;
	}
}
