.chronometer__time input{
  font-size: 40pt;
  font-family: 'Roboto Mono', monospace;
  max-width: 80px;
  text-align: center;
  border-radius: 20px;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 0.5
}
button {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}